/* .mainicon  */
.icon {
  height: 30px;
  width: 30px;
  margin: 7px;
}
.hend:hover {
  cursor: pointer;
}
#mainbar {
  display: flex;
  justify-content: space-between;
}
#start {
  display: flex;
}
.togglbtn {
  margin-left: 16px;
}
#youtube {
  height: 30px;
  margin: 5px;
}
#center {
  display: flex;
}
/* 검색바 전체 묶음 */
.serchcon {
  display: flex;
}
/* 인풋 묶음 */
.serchin {
  display: flex;
  border: 1px solid gray;
  align-items: center;
}
/* 인풋 */
.serch {
  height: 35px;
  border: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.scope {
  border: 1px solid gray;
  background-color: #808080;
  display: flex;
  align-items: center;
}
.scopebtn {
  height: 35px;
  width: 40px;
  border: 0px;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voice {
  height: 35px;
  width: 35px;
  border-radius: 17.5px;
  background-color: #545454;
  display: flex;
  align-items: center;
}
#end {
  display: flex;
}
.login {
  border: 1px solid #292cf0;
  color: #292cf0;
}
nav {
  float: left;
}

#mainenav {
  width: 65px;
  /* float: left; */
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
#bignav {
  width: 150px;
  display: flex;
  flex-flow: column;
}
.bigitems {
  display: flex;
}
.bigitems svg {
  margin-right: 22px;
}
@media only screen and (min-width: 1321px) {
  #bignav {
    display: block;
  }
  #mainenav {
    display: none;
  }  
}
@media only screen and (max-width: 1320px) {
  #bignav {
    display: none;
  }
  #mainenav {
    display: block;
  }
}
@media only screen and (max-width: 810px) {
  #bignav {
    display: none;
  }
  #mainenav {
    display: none;
  }
}
#content {
  width: 1500px;
  left: 150px;
}