#content-par {
  display: flex;
  justify-content: center;
}
#content {
  width: 59.375%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.grid-col-1 {
  width: 8.24561403508772vw;
  margin: 1.0416666666666665vw;
}
.grid-col-2 {
  width: 18.24561403508772vw;
  margin: 1.0416666666666665vw;
}
.grid-col-3 {
  width: 28.24561403508772vw;
  margin: 1.0416666666666665vw;
}
.grid-col-4 {
  width: 38.24561403508772vw;
  margin: 1.0416666666666665vw;
}
.grid-col-5 {
  width: 48.24561403508772vw;
  margin: 1.0416666666666665vw;
}
.grid-col-6 {
  width:58.245614035087726vw;
  margin: 1.0416666666666665vw;
}
.grid-col-7 {
  width: 68.24561403508773vw;
  margin: 1.0416666666666665vw;
}
.grid-col-8 {
  width: 78.24561403508771vw;
  margin: 1.0416666666666665vw;
}
.grid-col-9 {
  width: 88.24561403508771vw;
  margin: 1.0416666666666665vw;
}
.grid-col-10 {
  width: 98.24561403508771vw;
  margin: 1.0416666666666665vw;
}
.fst-col {
  margin-left: 0.5208333333333333vw;
}
.lst-col {
  margin-right: 0.5208333333333333vw;
}
ul {
  padding-inline-start: 0;
}
#commodity {
  margin-top: 100px;
  margin-bottom: 100px;
}
ul > li {
  margin: 30px;
  margin-left: 0;
  list-style: none;
  
}
.viwe1 {
  background-color: darkgrey;
}
.viwe2 {
  background-color: grey;
}
.viwe3 {
  background-color: red;
}
