#content-par {
  display: flex;
  justify-content: center;
}
#content {
  width: 59.375%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
.grid-col-1 {
  width: 3.90625vw;
  margin: 1.0416666666666665vw;
}
.grid-col-2 {
  width: 8.854166666666668vw;
  margin: 1.0416666666666665vw;
}
.grid-col-3 {
  width: 13.802083333333334vw;
  margin: 1.0416666666666665vw;
}
.grid-col-4 {
  width: 18.75vw;
  margin: 1.0416666666666665vw;
}
.grid-col-5 {
  width: 23.697916666666664vw;
  margin: 1.0416666666666665vw;
}
.grid-col-6 {
  width: 28.645833333333332vw;
  margin: 1.0416666666666665vw;
}
.grid-col-7 {
  width: 33.59375vw;
  margin: 1.0416666666666665vw;
}
.grid-col-8 {
  width: 38.54166666666667vw;
  margin: 1.0416666666666665vw;
}
.grid-col-9 {
  width: 43.48958333333333vw;
  margin: 1.0416666666666665vw;
}
.grid-col-10 {
  width: 48.4375vw;
  margin: 1.0416666666666665vw;
}
.fst-chld {
  margin-left: 0.5208333333333333vw;
}
.lst-chld {
  margin-right: 0.5208333333333333vw;
}
ul {
  padding-inline-start: 0;
}
#commodity {
  margin-top: 100px;
  margin-bottom: 100px;
}
ul > li {
  margin: 30px;
  margin-left: 0;
  list-style: none;
  
}